[build]
  command = "npm run build"
  publish = "dist"
  base = "/"

[build.environment]
  NODE_VERSION = "18"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[template.environment]
  VITE_FIREBASE_API_KEY = "Your Firebase API Key"
  VITE_FIREBASE_AUTH_DOMAIN = "Your Firebase Auth Domain"
  VITE_FIREBASE_PROJECT_ID = "Your Firebase Project ID"
  VITE_FIREBASE_STORAGE_BUCKET = "Your Firebase Storage Bucket"
  VITE_FIREBASE_MESSAGING_SENDER_ID = "Your Firebase Messaging Sender ID"
  VITE_FIREBASE_APP_ID = "Your Firebase App ID"
  VITE_API_BASE_URL = "Your Backend API Base URL"

# Proxy API requests to your Render backend
[[redirects]]
  from = "/api/*"
  to = "https://aarambh01-1.onrender.com/api/:splat"
  status = 200
  force = true

[functions]
  directory = "netlify/functions"

[dev]
  command = "npm run dev"
  port = 8888
  targetPort = 5173

[[headers]]
  for = "/manifest.webmanifest"
  [headers.values]
    Content-Type = "application/manifest+json"

[[headers]]
  for = "/assets/*"
  [headers.values]
    cache-control = '''
    max-age=31536000,
    immutable
    '''